*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos index*/

.container .header{
     grid-column: 1/6;
     background-image: linear-gradient(to bottom, rgb(221, 221, 238), black);
     
    
}
.content h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    /*animacion*/
    animation-name: titulo;
    animation-iteration-count: 2 ;
    animation-duration: 3s;


}
/*keyframe*/
@keyframes titulo{
    from{
        transform: translate(-200px);
        opacity: 0;
    }to{
        transform: translate(0);
        opacity: 1;;
    }
}

 .header .nav a{
    text-align: center;
    font-size: 20px;
    margin-left: 15px;
    justify-content: center;
    color:white;
    font-family: sans-serif;
   
    
}
.container{
    width: 100%;
    font-family: sans-serif;
    margin: 0 auto;
    background-image: linear-gradient(200deg,   black, gray);
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}
.container .header,
.container .content,
/*.container .sidebar,*/
.container .footer,
.container .div{
    
    padding: 20px;
    border: 1px solid black;
}

.container .footer{
    grid-column: 1/6;
    background: rgb(26, 26, 29);
    color: white;
}
.container .content{
    grid-column: span 5;
    background-image: url("/img/RANCHO FRENTE.jpg");
    
}
/*.container .sidebar{
    grid-column: span 2;
    background-image: linear-gradient(to bottom, black, rgb(167, 167, 158));
    color: azure;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container .sidebar img{
    width: 100%;
    
    /*margin-top: 5px;*/

.content .article{
    
    padding: 20px;
    margin-top: 5px;
    color: white;
    
 
    
}
.content .article h2,
.content .article p{
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    animation-name: texto;
    animation-iteration-count: infinite;
    animation-iteration-count: 2 ;
    
    animation-duration:2s ;
    
}
@keyframes texto{
     from{
    transform: translate(-200px);
    opacity: 0;
}to{
    transform: translate(0);
    opacity: 1;;
}
}
.container .footer{
    text-align: center;
    font-family: sans-serif;
    background-image: linear-gradient(34deg, rgb(26, 25, 25) , rgb(68, 48, 12) );

}

/*MEDIA*/

@media(max-width: 480px){
    .header{
        text-align: center;
    }
    .container .content{
        grid-column: 1/6;
    }
    /*.container .sidebar{
        grid-column: 1/6;
    }*/
    .container .footer{
        grid-column: 1/6;
        text-align: center;
    }
}
/*responsive index*/
@media(max-width: 768px){
    .header{
        text-align: center;
    }
    .container .content{
        grid-column: 1/6;
    }
    .container .sidebar{
        grid-column: 1/6;
    }
    .container .footer{
        grid-column: 1/6;
        text-align: center;
    }
}
/* TERMINA LOS ESTILOS DEL INDEX*/

/* COMIENZA ESTILOS CARTAS*/
.container .content-comida {
   background-image: radial-gradient(rgb(68, 26, 68), rgb(31, 27, 27));
   margin:10px;
  grid-column: span 5;
  align-items: center;
    
    
}
    

.content-comida h1{
    font-family: sans-serif;
    text-align: center;
    font-size: 35px;
    color: white;
    
}

.content-comida .descripcion{
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}

.content-comida .platos .caja{
  width: 400px;
  border: black solid 1px;
  margin: 30px 20px;
  background-image:radial-gradient( white, black);
  float: left;
  animation-name: platos;
  animation-iteration-count: infinite;
  animation-iteration-count: 2 ;
  animation-duration:2s ;
  
}


@keyframes platos{
    from{
        transform: translate(200px);
        opacity: 0;
    }to{
        transform:translate(0);
        opacity: 1;;
    } 
}


.content-comida .platos .caja img{
    margin-left: 40px;
    margin-top: 15px;
   
}


.content-comida .platos .caja h3,
.content-comida .platos .caja p{
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    color: white;
}
.container .sidebar-comida{
    grid-column: span 6;
    padding-top: 20px;
    padding-bottom: 10px;
    float: left;

}
.container .sidebar-comida h3{
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}
.container .sidebar-comida iframe{
    padding: 30px;
    background: wheat;
    border: 5px;
    border-radius: 5%;
}
/*responsive carta comida*/
@media(max-width: 480px){
    .header{
        text-align: center;
    }
    .container .content-comida{
        grid-column: 1/6;
    }
    .container .sidebar-comida{
        grid-column: 1/6;
    }
    .container .footer{
        grid-column: 1/6;
        text-align: center;
    }
}
@media(max-width: 768px){
    .header{
        text-align: center;
    }
    .container .content-comida{
        grid-column: 1/6;

    }
    .content-comida .platos .caja{
        margin-left: 25%;
    }
    .container .sidebar-comida{
        grid-column: 1/6;
    }
    .container .sidebar-comida iframe{
        margin-left: 20%;
    }
    .container .footer{
        grid-column: 1/6;
        text-align: center;
    }
}